.footer{
   text-align: center;
   width: 100%;
   height: 60px;
   color: white;
   background-color: #2C42C2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#logo_sesi {
   width: 90px;
   height: 40px;
   margin-right: 20px;
}

@media (max-width: 690px) {
   .footer {
      display: flex;
      flex-direction: column;
      height: 100px;
   }
}
@media (max-width: 500px) {
   .footer {
      display: flex;
      flex-direction: column;
      height: 100px;
   }
   #logo_sesi {
      width: 90px;
      height: 40px;
      margin-right: 20px;
      margin-top: -10px;
   }
}